
body {
  font-family: 'Open Sans', sans-serif;
}

.f2 {
  font-family: 'Montserrat', sans-serif;
}

.main-header {
    height: 150px;

}

.main-header .logo {
  width: 400px;
  margin: 0 auto;
  text-align:center;
  padding: 35px 0 0;

}
.main-header .logo-img {
  display: block;
  width:259px;
  height: 46px;
  background: url(../img/logo-1x.png) no-repeat;
  margin: 0 auto;
}

.main-header .logo p {
  font-size: 110%;
  color: #fff;
  font-style: italic;
  margin: 5px 0 0;
}
.main-header .header-nav {
  float: right;
}

.main-header .header-nav ul{
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
}

.main-header .header-nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.header-nav a {
  color: #f2f2f2;
  font-size: 95%;
  display: block;
  padding: 5px 10px;

}
.main-header .header-nav .active a {
  background: #f20505;
  color: #fff;
}
.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
}


.home-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.home-block h2 {
  color: #f26b6b;
}

.home-block .desc {
  margin: 2rem 0;
}

.splash {
  color: #f2f2f2;
}

.splash h1 {
  font-size: 170%;
  padding-top:4rem;
  padding-bottom: 1rem;
}
.splash p {
  font-size: 120%;
}

.light-grey {
  background: #f2f2f2;
}

.green {
  background: #4ebfbf;
}
.dark {
  background: #0d0d0d;
}

.btn-primary {
  background: #4ebfbf;
  border-color: #42a4a4;
}
.btn-primary:hover {
  background-color: #42a4a4;
  border-color: #42a4a4;
}


.quiz-screen .progress-bar {
  background-color: #f26b6b;
}

.mpj-testez-vous {
  background: #f2f2f2;
}


.quiz-screen {
  background: #fff;
  min-height: 500px;
  padding: 20px;
  border: 1px solid #aaa;
  display: table;
  width: 100%;
  margin: 20px 0;
}

.quiz-screen-wrap {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}
.quiz-screen-wrap.no-cell {
  display: block;
}
.quiz-screen-wrap h1 {
  color: #4ebfbf;
  font-size: 32px;
  text-align: center;
  font-weight: 600;
  margin: 0 0 15px;
}
.quiz-screen-wrap .text {
  font-size: 18px;
  line-height: 24px;
}

.quiz-answers {
  margin: 15px 0;
}
.quiz-answers a {

  width:100%;

  border: 1px solid #ccc;
  text-decoration: none;
  margin:10px 0 10px;

}
h2.question {
  font-size: 32px;
  line-height: 36px;
  margin: 0 0 20px;
}
.quiz-answers a  {
  color:#0d0d0d;
  font-size: 20px;
  border-color: #0d0d0d;
  transition: all 150ms ease-in;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0);
}
.quiz-answers a.quiz-answer.active,
.quiz-answers a.quiz-answer.active:hover,
.quiz-answers a.quiz-answer.active:focus{
  background: #4ebfbf;
  color: #fff;
  border-color: #4ebfbf;
}
.quiz-answers a.quiz-answer:hover {
color: #f26b6b;
border-color: #f26b6b;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
