<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /mon-prochain-job-org/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule /t/ /mon-prochain-job-org/index.php?url=$1
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /mon-prochain-job/index.php [L]
</IfModule>
